/* Main menu */
.main-nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 0rem 1.5rem;
}

.main-nav li {
  margin-left: 1rem;
  text-transform: lowercase;
}

.main-nav li::marker {
  content: "./";
}
