{{ define "main" }}
  {{ range .Data.Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul class="post-items">
    {{ range .Pages }}
      <li>
        <article class="post-item">
          <h3 class="post-item__title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </h3>
          {{- partial "post-meta.html" . -}}
        </article>
      </li>
    {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ define "aside" }}
  {{ if .Params.description }}
    <p>{{ .Params.description }}</p>
  {{ end }}
{{ end }}
