{{ define "main" }}
  <header class="content__header">
    <h1>{{ .Title | markdownify }}</h1>
  </header>
  <div class="content__body content">
    {{ .Content }}
  </div>
  <footer class="content__footer"></footer>
{{ end }}

{{ define "aside" }}
  {{ if .Params.description }}
    <p>{{ .Params.description }}</p>
  {{ end }}

  <!-- date -->
  <div>
    <i class="fa-regular fa-calendar-days"></i> <time datetime="{{ .PublishDate }}">{{ .PublishDate | time.Format "January 2, 2006" }}</time>
  </div>

  <!-- reading time -->
  {{ if gt .ReadingTime 1 }}
    {{ .Scratch.Set "timeUnit" "mins" }}
  {{ else }}
    {{ .Scratch.Set "timeUnit" "min" }}
  {{ end }}
  {{ if .Site.Params.showReadingTime }}
    <div>
      <i class="fa-regular fa-clock"></i> <span> ~{{.ReadingTime}} {{ .Scratch.Get "timeUnit" }}</span>
    </div>
  {{ end }}

  <!-- tags -->
  {{ with .Params.tags }}
    <i class="fa-solid fa-tag"></i>
    <ul class="tags">
    {{ range . }}
      <li>
        <a href="{{ "tags/" | absURL }}{{ . | urlize }}">#{{ . }}</a>
      </li>
    {{ end }}
    </ul>
  {{ end}}

  {{ if and (.Params.toc) (.TableOfContents) }}
    <hr>
    <details class="toc-mobile">
      <summary>
      {{ i18n "toc" }}
      </summary>
      {{ .TableOfContents }}
    </details>
    <div class="toc">
      <p>{{ i18n "toc" }}</p>
      {{ .TableOfContents }}
    </div>
  {{ end }}
{{ end }}
