{{ define "main" }}
  <header class="content__header">
    <h1>{{ .Title | markdownify }}</h1>
  </header>
  <div class="content__body content">
    {{ .Content }}

    {{ if .Params.series }}
      {{ $postTitle := .Title }}
      {{ $series := sort (where .Site.RegularPages ".Params.series" "intersect" .Params.series) ".PublishDate" "asc" }}
      {{ $serie := index (.Params.series) 0 }}
      <hr>
      <p>
        <strong>{{ i18n "series_posts_title" }}</strong>
        <a href="{{ "series/" | absURL }}{{ $serie | urlize }}">{{ $serie }}</a>
      </p>
      <ul>
        {{ range $series }}
          {{ if ne .Title $postTitle }}
          <li><a href="{{ .Page.RelPermalink }}">{{ title .Page.Title }}</a></li>
          {{ else }}
          <li>{{ title .Page.Title }} ({{ i18n "series_here" }})</li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </div>
  <footer class="content__footer">
    <nav class="paginator">
      {{ if .NextInSection }}
        <a class="paginator__btn" href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">← {{ i18n "next_post" }}</a>
      {{ end }}
      {{ if .PrevInSection }}
        <a class="paginator__btn next" href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">{{ i18n "prev_post" }} →</a>
      {{ end }}
    </nav>
    {{ if .Params.showComments }}
      <hr>
      {{- partial "comments.html" . -}}
    {{ end }}
  </footer>
{{ end }}

{{ define "aside" }}
  {{ if .Params.description }}
    <p>{{ .Params.description }}</p>
  {{ end }}

  <!-- date -->
  <div>
    {{- partial "svg-icons/calendar-day.html" }} <time datetime="{{ .PublishDate }}">{{ .PublishDate | time.Format "January 2, 2006" }}</time>
  </div>

  <!-- reading time -->
  {{ if gt .ReadingTime 1 }}
    {{ .Scratch.Set "timeUnit" "mins" }}
  {{ else }}
    {{ .Scratch.Set "timeUnit" "min" }}
  {{ end }}
  {{ if .Site.Params.showReadingTime }}
    <div>
      {{- partial "svg-icons/clock.html" }} <span> ~{{.ReadingTime}} {{ .Scratch.Get "timeUnit" }}</span>
    </div>
  {{ end }}

  <!-- tags -->
  {{ $series := .Params.series }}
  {{ with .Params.tags }}
    <div class="tags-container">
      {{- partial "svg-icons/hash.html" }}
      <ul class="tags{{ if $series }} inline{{ end }}">
        {{ range . }}
          <li>
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end}}

  <!-- series -->
  {{ with .Params.series }}
    <div class="tags-container">
      {{- partial "svg-icons/tags.html" }}
      <ul class="tags">
        {{ range . }}
          <li>
            <a href="{{ "series/" | absURL }}{{ . | urlize }}">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end}}

  {{ if and (.Params.showToc) (.TableOfContents) }}
    <hr>
    <details class="toc-mobile">
      <summary>
      {{ i18n "toc" }}
      </summary>
      {{ .TableOfContents }}
    </details>
    <div class="toc">
      <p>{{ i18n "toc" }}</p>
      {{ .TableOfContents }}
    </div>
  {{ end }}
{{ end }}
