.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;

  .svg-icon {
    padding-top: 0.25em;
  }

  .tags {
    flex: 1;
  }
}

.tags {
  flex-wrap: wrap;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;

  &.inline {
    margin-bottom: 0;
  }
}

.tags li {
  &::marker {
    content: "";
  }
}
