{{ define "main" }}
  <!-- $pages -->
  {{ $pages := union .RegularPages .Sections }}
  {{ if .IsHome }}
    {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ end }}

  <!-- $paginator -->
  {{ $paginator := .Paginate $pages }}

  <!-- Posts -->
  <ul class="post-items">
  {{ range $index, $page := $paginator.Pages }}
    <li>
      <article class="post-item">
        <h3 class="post-item__title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h3>
        {{- partial "post-meta.html" . -}}
        <div class="post-item__summary">
          {{ .Summary }}
        </div>
      </article>
    </li>
  {{ end }}
  </ul>

  <!-- Main Nav -->
  {{ if gt $paginator.TotalPages 1 }}
    <nav class="paginator">
      {{ if $paginator.HasPrev }}
        <a class="paginator__btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
      {{ end }}
      {{ if $paginator.HasNext }}
        <a class="paginator__btn next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a >
      {{ end }}
    </nav>
  {{ end }}
{{ end }}

{{ define "aside" }}
  {{ if .Params.description }}
    <p>{{ .Params.description }}</p>
  {{ end }}
{{ end }}

